{#
/**
 * @file
 * Twitter_feed wrapper
 *
 * Available variables:
 * - text: The parsed tweet
 * - text_raw: The raw text
 * - tweet_url: the direct link to the tweet
 * - date: the date of the tweet
 *   - stamp: timestamp of tweet
 *   - clean: parsed version of time
 */
#}
<div class="twitter_feed__item">{{ text }}</div>
<time class="twitter_feed__timeago" datetime="{{ date.stamp }}">{{ date.clean }}</time>
